/* OVERALL CSS */
html {
	height: 100%;
	font-size: 100%;
}

body {
	min-height: 100%;
}

/* HOME PAGE */
.jumbotron {
	background: transparent;
}

/* APP PAGE */

.spinner {
	margin: 20% auto;
}

.map-container {
	height: 500px;
	width: 600px;
	margin: auto;
	padding: 15px;
}
